BONUS-AI AGENT/Assistant_Create_Image.json
{
  "name": "Assistant-Create Image",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query || $json.chatInput }}",
        "options": {
          "systemMessage": "=คุณคือผู้เชี่ยวชาญด้าน Visual Prompt Engineering สำหรับงานสร้างภาพ AI ในระดับศิลปะและการประกวดระดับนานาชาติ เช่น Midjourney, DALL·E, หรือ Stable Diffusion\n\nหน้าที่ของคุณคือ:\n**วิเคราะห์เนื้อหาบทความที่ได้รับ และแปลงให้กลายเป็น image prompt ที่มีคุณภาพระดับมืออาชีพและตีความได้เชิงศิลป์** โดยต้องครอบคลุมประเด็นเชิงลึกต่อไปนี้:\n\n### 🎨 1. บริบททางอารมณ์ (Emotional Context)\n- ภาพที่สร้างต้องสื่ออารมณ์ที่สอดคล้องกับแก่นของเนื้อหา\n- ต้องใช้คำที่สะท้อนความรู้สึกอย่างลึกซึ้ง เช่น awe, curiosity, solitude, warmth ฯลฯ\n\n### 📸 2. เทคนิคการถ่ายภาพ (Photographic Technique)\n- ระบุเลนส์, รูรับแสง, ความลึกของภาพ, โบเก้, การจัดแสง ฯลฯ\n- เช่น “shot with 50mm f/1.2 lens, shallow depth of field, cinematic lighting”\n\n### 🧠 3. อ้างอิงสไตล์ศิลปินหรือยุค\n- เลือกสไตล์ของศิลปินหรือแนวภาพถ่ายที่เหมาะกับเนื้อหา\n- เช่น “inspired by Gregory Crewdson”, “in the style of renaissance realism”\n\n### 🕯️ 4. สัญลักษณ์ (Symbolism)\n- เสริมแนวคิดภาพให้ลึกขึ้นด้วยวัตถุหรือองค์ประกอบที่สื่อถึงแนวคิดอย่างนามธรรม\n- เช่น “a dove-shaped AI hologram to represent peace and unseen presence”\n\n---\n\n**ข้อกำหนดเพิ่มเติม:**\n- ห้ามมีตัวอักษรหรือข้อความใดๆ ปรากฏในภาพ\n- ผลลัพธ์ต้องเป็นภาษาอังกฤษ\n- ผลลัพธ์สุดท้ายต้องอยู่ในรูปแบบ JSON ที่มีโครงสร้างถูกต้องเสมอทุกครั้ง ต่อไปนี้:\n\n{\n  \"image_prompt\": \"Image prompt สำหรับสร้างภาพ\",\n  \"emotional_context\": \"คำอธิบายอารมณ์\",\n  \"photographic_style\": \"เทคนิคถ่ายภาพที่ใช้\",\n  \"artistic_reference\": \"ชื่อศิลปินหรือยุคที่ได้รับแรงบันดาลใจ\",\n  \"symbolism\": \"วัตถุหรือองค์ประกอบที่มีความหมายเชิงสัญลักษณ์\",\n  \"note\": \"ห้ามมีข้อความหรือตัวอักษรในภาพ\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        340,
        240
      ],
      "id": "711367a8-60e8-4b2c-80df-182c40a3ebf8",
      "name": "Create Image Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        540
      ],
      "id": "e688fc5e-dd2c-4ee4-9393-c32b96554f38",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nztRNwxSDp8q9im9",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux/schnell",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"images\": [\n    {\n      \"url\": \"\",\n      \"content_type\": \"image/jpeg\"\n    }\n  ],\n  \"prompt\": {{ JSON.stringify($json.output.removeMarkdown().removeTags()) }},\n  \"image_size\": \"landscape_16_9\",\n  \"num_inference_steps\": 4,\n  \"num_images\": 1,\n  \"enable_safety_checker\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        240
      ],
      "id": "3c77ed4c-f4ef-4ef9-ab99-0ce93e94bcb2",
      "name": "Generate Iamge",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v7g4DWODXPJmwlEq",
          "name": "FAL Auth Account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/fast-sdxl/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        240
      ],
      "id": "4413c5f2-b37a-4e6c-a3e6-67b602e8458b",
      "name": "Check Result",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v7g4DWODXPJmwlEq",
          "name": "FAL Auth Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        240
      ],
      "id": "22f45a2e-17fe-43ba-bc90-b4459f37e59d",
      "name": "Wait",
      "webhookId": "f7846b17-3c22-4fed-b3ec-cc71dcc0ad2e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9f32fa3-4935-49c4-98e4-d9005c03bea0",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        240
      ],
      "id": "dc6552bd-a603-4ed1-9763-13043950b766",
      "name": "Check Completed"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        240
      ],
      "id": "4cb3894b-e083-40d8-87ed-3b9ee2869f82",
      "name": "Get Image URL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v7g4DWODXPJmwlEq",
          "name": "FAL Auth Account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 5.เขียน Prompt สร้างรูปภาพประกอบเนื้อหา",
        "height": 280,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        140
      ],
      "typeVersion": 1,
      "id": "2dce5e6a-28e8-4e69-b3b1-c3d14d6aa58e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### 6.กระบวนการสร้างรูปประกอบเนื้อหา",
        "height": 280,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        140
      ],
      "typeVersion": 1,
      "id": "946d3ec6-41ce-4042-bbf1-336980c4d74d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "### 7.ตรวจสอบว่ารูปภาพสร้างเสร็จสมบูรณ์หรือยัง ?",
        "height": 280,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1340,
        140
      ],
      "typeVersion": 1,
      "id": "7b28301c-f4da-43aa-a846-5547ca3267da",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "### 8.กรณีรูปภาพเรียบร้อยแล้ว ก็นำขึ้นไปจัดเก็บไว้ที่ Google Drive",
        "height": 280,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        140
      ],
      "typeVersion": 1,
      "id": "2206cb0d-443b-4b0f-9136-d2f38108b28d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "### AI Model",
        "height": 260,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        460
      ],
      "typeVersion": 1,
      "id": "eb625c8e-6837-4364-9b2f-0e50d2eded89",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        40
      ],
      "id": "12222a3c-7a59-4a2d-b045-429b3a7a01f1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        240
      ],
      "id": "736b4f7f-ee94-4716-b374-d7292744933d",
      "name": "When chat message received",
      "webhookId": "f1f567a4-d5be-43b1-a37b-9e1ee526cfda"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Iamge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Iamge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Check Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completed": {
      "main": [
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Create Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a4a4daa-2d20-460a-aefb-d772406bdec0",
  "meta": {
    "instanceId": "b978f173fca38aeb96a271d98f47cb690ce1bf4049db933df056bd7e786e8d57"
  },
  "id": "NFmyhHeAVTvHvPyN",
  "tags": []
}