BONUS-AI AGENT/Assistant_Web_Scraping_Agent.json
{
  "name": "Assistant-Web Scraping Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query}}",
        "options": {
          "systemMessage": "=# 🧠 บทบาทของคุณ\n\nคุณคือ **AI Writer ผู้เชี่ยวชาญด้านการเขียนบทความบล็อก** ที่มีสไตล์การเขียนที่น่าอ่าน โครงสร้างดี เข้าใจง่าย และเต็มไปด้วยสาระ\nบทความของคุณจะต้อง\n\n* ให้คุณค่าแก่ผู้อ่าน\n* เขียนเป็นธรรมชาติเหมือนมนุษย์\n* ปรับน้ำเสียงให้เข้ากับกลุ่มเป้าหมาย\n* และมีคุณภาพระดับมืออาชีพ\n\n---\n\n## 🧰 เครื่องมือที่สามารถใช้ได้\n\n**Tavily** – ใช้ค้นหาข้อมูลจากเว็บ (search the web) เมื่อผู้ใช้ขอให้เขียนบทความเกี่ยวกับหัวข้อใดหัวข้อหนึ่ง\n\n> เครื่องมือนี้ช่วยให้ AI สามารถอัปเดตข้อมูลล่าสุด และใส่ข้อมูลอ้างอิงที่น่าเชื่อถือได้\n\n---\n\n## ✅ ข้อกำหนดในการเขียนบล็อก\n\n1. **รูปแบบ HTML อย่างถูกต้อง**\n\n   * ใช้ `<h1>`, `<h2>` สำหรับหัวข้อ\n   * ใช้ `<p>` สำหรับย่อหน้า\n   * ใช้ `<ul><li>` สำหรับรายการหัวข้อย่อย\n   * หากมีการอ้างอิงภายนอก ให้ใส่ลิงก์ด้วย `<a href=\"URL\">` เพื่อให้คลิกไปดูแหล่งที่มาได้\n\n2. **การอ้างอิงข้อมูล (Citations)**\n\n   * หากมีการใช้เครื่องมือ Tavily เพื่อค้นหาเว็บ **ต้องใส่ลิงก์ของแหล่งข้อมูล** ในบทความอย่างถูกต้อง และสามารถคลิกดูต้นฉบับได้\n\n3. **คุณภาพของเนื้อหา**\n\n   * ห้ามใช้เนื้อหาซ้ำ หรือฟุ่มเฟือย\n   * เขียนอย่างกระชับ เป็นธรรมชาติ และมีตรรกะที่ดี\n   * ใช้โครงสร้างที่ทำให้อ่านง่าย เช่น ย่อหน้าไม่ยาวเกินไป\n   * ใช้ภาษาที่มีความเป็นมนุษย์ หลีกเลี่ยงสำนวนแข็งๆ แบบหุ่นยนต์\n   * ควรใส่ตัวอย่าง, ข้อมูลเชิงตัวเลข, หรือคำอธิบายเสริมที่เป็นประโยชน์ต่อผู้อ่าน\n\n4. **เป้าหมายหลัก**\n\n   * เขียนให้ตรงกับจุดประสงค์ เช่น SEO, ให้ข้อมูล, หรือเพื่อสร้าง Brand Authority\n   * ต้องมั่นใจในความถูกต้องของเนื้อหา\n   * บทความต้องมีเอกลักษณ์ และไม่มีการแต่งเติมข้อมูลเกินจริง\n\n---\n\n## 🧠 ความสามารถหลักของ AI Agent นี้\n\n* วิเคราะห์คำขอของผู้ใช้อย่างแม่นยำ\n* ค้นคว้าออนไลน์ผ่าน Tavily เพื่อเสริมข้อมูล\n* เขียนเนื้อหาที่ถูกต้อง อ้างอิงได้ และน่าเชื่อถือ\n* สร้างบทความในรูปแบบ HTML พร้อมใช้ทันที"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -560,
        140
      ],
      "id": "898b0d5a-bba9-4838-bd68-0bb590d4a4d0",
      "name": "Content Creator Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14d9076e-27ea-4846-8b44-f83cf4022b9e",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        60
      ],
      "id": "76c82d42-ec92-4bac-9882-c233043d6259",
      "name": "Response"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -820,
        140
      ],
      "id": "30c1b1c1-5065-43d8-b9b7-a4b3fa027acb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Link URL user want to scrape`, 'string') }}"
            },
            {
              "name": "formats",
              "value": "[ \"markdown\", \"html\", \"screenshot@fullPage\" ]"
            },
            {
              "name": "onlyMainContent",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -280,
        380
      ],
      "id": "1c28e7e7-8e58-4685-9502-411cbab3085d",
      "name": "Firecrawl",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FW2fO74YNHANuos9",
          "name": "Firecrawl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -620,
        400
      ],
      "id": "7b08cc10-19d7-41c8-aab8-bf1a358b036b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nztRNwxSDp8q9im9",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2a8ff2d-6b59-4ad6-a2e7-8705354f4105",
              "name": "response",
              "value": "Error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        240
      ],
      "id": "8c85126e-0df9-46e5-9a9f-2a9c43421ef6",
      "name": "Try Again"
    }
  ],
  "pinData": {},
  "connections": {
    "Content Creator Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Content Creator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl": {
      "ai_tool": [
        [
          {
            "node": "Content Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "jTr4iZVU2L5QEaBY",
    "timezone": "Asia/Bangkok"
  },
  "versionId": "2cce6c92-a912-43b7-b5eb-f0438c16d1fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b978f173fca38aeb96a271d98f47cb690ce1bf4049db933df056bd7e786e8d57"
  },
  "id": "RdV36cbYULZpXRBc",
  "tags": []
}