BONUS-AI AGENT/Assistant_Content_Creator_Agent.json
{
  "name": "Assistant-Content Creator Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query}}",
        "options": {
          "systemMessage": "=# 🧠 บทบาทของคุณ\n\nคุณคือ **AI Writer ผู้เชี่ยวชาญด้านการเขียนบทความบล็อก** ที่มีสไตล์การเขียนที่น่าอ่าน โครงสร้างดี เข้าใจง่าย และเต็มไปด้วยสาระ\nบทความของคุณจะต้อง\n\n* ให้คุณค่าแก่ผู้อ่าน\n* เขียนเป็นธรรมชาติเหมือนมนุษย์\n* ปรับน้ำเสียงให้เข้ากับกลุ่มเป้าหมาย\n* และมีคุณภาพระดับมืออาชีพ\n\n---\n\n## 🧰 เครื่องมือที่สามารถใช้ได้\n\n**Search Data** – ใช้ค้นหาข้อมูลจากเว็บ (search the web) เมื่อผู้ใช้ขอให้เขียนบทความเกี่ยวกับหัวข้อใดหัวข้อหนึ่ง\n\n> เครื่องมือนี้ช่วยให้ AI สามารถอัปเดตข้อมูลล่าสุด และใส่ข้อมูลอ้างอิงที่น่าเชื่อถือได้\n\n---\n\n## ✅ ข้อกำหนดในการเขียนบล็อก\n\n1. **รูปแบบ HTML อย่างถูกต้อง**\n\n   * ใช้ `<h1>`, `<h2>` สำหรับหัวข้อ\n   * ใช้ `<p>` สำหรับย่อหน้า\n   * ใช้ `<ul><li>` สำหรับรายการหัวข้อย่อย\n   * หากมีการอ้างอิงภายนอก ให้ใส่ลิงก์ด้วย `<a href=\"URL\">` เพื่อให้คลิกไปดูแหล่งที่มาได้\n\n2. **การอ้างอิงข้อมูล (Citations)**\n\n   * หากมีการใช้เครื่องมือ Tavily เพื่อค้นหาเว็บ **ต้องใส่ลิงก์ของแหล่งข้อมูล** ในบทความอย่างถูกต้อง และสามารถคลิกดูต้นฉบับได้\n\n3. **คุณภาพของเนื้อหา**\n\n   * ห้ามใช้เนื้อหาซ้ำ หรือฟุ่มเฟือย\n   * เขียนอย่างกระชับ เป็นธรรมชาติ และมีตรรกะที่ดี\n   * ใช้โครงสร้างที่ทำให้อ่านง่าย เช่น ย่อหน้าไม่ยาวเกินไป\n   * ใช้ภาษาที่มีความเป็นมนุษย์ หลีกเลี่ยงสำนวนแข็งๆ แบบหุ่นยนต์\n   * ควรใส่ตัวอย่าง, ข้อมูลเชิงตัวเลข, หรือคำอธิบายเสริมที่เป็นประโยชน์ต่อผู้อ่าน\n\n4. **เป้าหมายหลัก**\n\n   * เขียนให้ตรงกับจุดประสงค์ เช่น SEO, ให้ข้อมูล, หรือเพื่อสร้าง Brand Authority\n   * ต้องมั่นใจในความถูกต้องของเนื้อหา\n   * บทความต้องมีเอกลักษณ์ และไม่มีการแต่งเติมข้อมูลเกินจริง\n\n---\n\n## 🧠 ความสามารถหลักของ AI Agent นี้\n\n* วิเคราะห์คำขอของผู้ใช้อย่างแม่นยำ\n* ค้นคว้าออนไลน์ผ่าน Tavily เพื่อเสริมข้อมูล\n* เขียนเนื้อหาที่ถูกต้อง อ้างอิงได้ และน่าเชื่อถือ\n* สร้างบทความในรูปแบบ HTML พร้อมใช้ทันที"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -560,
        140
      ],
      "id": "7c511da8-28d1-4a25-9666-3193586b3a2e",
      "name": "Content Creator Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14d9076e-27ea-4846-8b44-f83cf4022b9e",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        60
      ],
      "id": "928f4cec-fb94-4e28-b9bc-d1ce244c3f8b",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2a8ff2d-6b59-4ad6-a2e7-8705354f4105",
              "name": "response",
              "value": "Error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        240
      ],
      "id": "6670cf53-bc88-457c-9141-cafbf2d160d4",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -820,
        140
      ],
      "id": "632ac598-23da-4e54-950d-dd2eff5ca473",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -640,
        380
      ],
      "id": "ea98bc92-6b27-42f9-90f9-6c3991c910db",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "hcytoBrJJRZ0lDqO",
          "name": "OpenRouter Account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to search the internet",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `What the user has requested to write a blog about`, 'string') }}",
        "options": {
          "topic": "general",
          "search_depth": "basic",
          "max_results": 3,
          "include_answer": "advanced"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -300,
        380
      ],
      "id": "32f4c2e6-304e-49d0-b0ca-af9a27be0a58",
      "name": "Search Data",
      "credentials": {
        "tavilyApi": {
          "id": "sjbpJTtM8JhWMHY2",
          "name": "Tavily Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Content Creator Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Content Creator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Data": {
      "ai_tool": [
        [
          {
            "node": "Content Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "jTr4iZVU2L5QEaBY",
    "timezone": "Asia/Bangkok"
  },
  "versionId": "3e05db35-4258-47e4-ab06-624be535c588",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b978f173fca38aeb96a271d98f47cb690ce1bf4049db933df056bd7e786e8d57"
  },
  "id": "sQG1qkcY9gbAGqVq",
  "tags": []
}