USEC16-Extract Data & Basic RAG/USEC16-1-Extract Data From Document.json
{
  "name": "USEC16-Extract Data From Document",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        656
      ],
      "id": "32eccd12-04fb-482b-8676-da5c4389e8fd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7db0f92-394f-4a01-b002-a86de906c50b",
              "name": "folder_id",
              "value": "1SMC01ZEpsCxYNoh56ZlacgG_1J8iv9V-",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        656
      ],
      "id": "f1ce7d2d-491d-4a7b-8077-57ed18e225d4",
      "name": "Master Config"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.folder_id }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -368,
        656
      ],
      "id": "2f74c8f6-f106-4ecd-aa06-a26409bc7ed6",
      "name": "List Document",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hxmvvj3yC9KPqa5e",
          "name": "Google Drive Account-XAlpha Training"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        656
      ],
      "id": "8ac83a42-7789-4fba-a569-e34e78436463",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hxmvvj3yC9KPqa5e",
          "name": "Google Drive Account-XAlpha Training"
        }
      }
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "id": "16223584-c505-4faf-bd08-d9888cfb6f6b",
      "name": "Extract From XLS",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        1216
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "d3cac37a-9db5-43e7-91a2-3e1dae2d0e6a",
      "name": "Extract From XLSX",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        1392
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "84420700-b396-49cb-9a8c-4135c50d2e0f",
      "name": "Extract From Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        832
      ]
    },
    {
      "parameters": {
        "content": "## OCR จากรูปภาพ",
        "height": 456,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        -496
      ],
      "typeVersion": 1,
      "id": "be923974-81ec-40ed-85fb-a532f8c67566",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        1584
      ],
      "id": "df2ae9c6-a32b-4480-8d05-8b3f035c77ab",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "pdfName": "data"
      },
      "type": "@cntrlx/n8n-nodes-pdfgenie-pro.pdfkit",
      "typeVersion": 1,
      "position": [
        672,
        -432
      ],
      "id": "802a7354-d59b-4ffa-800d-4693215108d4",
      "name": "IMG2PDF"
    },
    {
      "parameters": {
        "binaryFieldName": "data"
      },
      "type": "n8n-nodes-doc-to-text.docToText",
      "typeVersion": 1,
      "position": [
        672,
        496
      ],
      "id": "376b8190-24c1-4712-b3b4-0f0129fc6ac5",
      "name": "DOC to Text"
    },
    {
      "parameters": {
        "options": {
          "includeImageBase64": true
        }
      },
      "type": "n8n-nodes-mistral-ocr.mistralOcr",
      "typeVersion": 1,
      "position": [
        672,
        -224
      ],
      "id": "7376abd5-ae2e-43f7-bd4d-55a8209fb66e",
      "name": "Mistral OCR",
      "credentials": {
        "mistralApi": {
          "id": "aSKI8hLwnrJyOQ6s",
          "name": "Mistral Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        672,
        656
      ],
      "id": "358fe5fe-83b6-42c3-a46e-18aa6dfa1e92",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "kORHFqwX0Nw8xnOa",
          "name": "Google Docs Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## อ่านข้อมูลจากไฟล์เอกสารในกลุ่มประเภท Text",
        "height": 680,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        368
      ],
      "typeVersion": 1,
      "id": "36feb667-332c-4ed6-a77b-98477f04899e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## อ่านข้อมูลจากไฟล์เอกสารในกลุ่มประเภท Sheet",
        "height": 680,
        "width": 320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        1088
      ],
      "typeVersion": 1,
      "id": "705e4f21-68ec-4291-a254-6f3d5de3ea1a",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        144
      ],
      "id": "aa751b88-a9bd-41bb-bde0-d0208ecbc674",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf04e95d-fc84-48f9-a98e-3400c9209e6c",
              "leftValue": "={{ $json.text.trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        144
      ],
      "id": "d919ce09-30f7-4d4d-a986-935e787beac6",
      "name": "Extract Success"
    },
    {
      "parameters": {
        "options": {
          "includeImageBase64": true
        }
      },
      "type": "n8n-nodes-mistral-ocr.mistralOcr",
      "typeVersion": 1,
      "position": [
        1376,
        144
      ],
      "id": "c135313c-048c-4125-a785-bcdedcc2a9d0",
      "name": "Mistral OCR1",
      "credentials": {
        "mistralApi": {
          "id": "aSKI8hLwnrJyOQ6s",
          "name": "Mistral Account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1568,
        144
      ],
      "id": "f7773b91-abb1-4c6c-8b14-9276a5473016",
      "name": "Split Page1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "markdown",
              "renameField": true,
              "outputFieldName": "data"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1744,
        144
      ],
      "id": "feccacfe-4246-4b3e-a3b5-705e37988075",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "content": "## (1) OCR โดยใช้วิธีปกติ(ไม่มีค่าใช้จ่าย)",
        "height": 328,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        0
      ],
      "typeVersion": 1,
      "id": "a71891b8-75b0-432b-81d6-e6b1f43446a5",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## (2) OCR โดยใช้ Mistral กรณีที่เป็นไฟล์สแกนหรือเป็นไฟล์ที่ถอดอักษรปกติไม่ได้",
        "height": 328,
        "width": 992,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        0
      ],
      "typeVersion": 1,
      "id": "1df447c7-ce79-4a8b-a267-e2423b2b8e92",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "c2cbe9bf-25e2-4d90-8157-f2a918f0e4d3",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        1216
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "464af811-b73c-4838-8220-51e00c6b84e3",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1264,
        1216
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "09a3aee9-0156-4a63-8547-ecef9d515ca0",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "49ef086b-5d4d-4608-81fc-7cab245cbc99",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b3e1780f-d8bd-4793-a119-d6e6dbb4e77d",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "eb325a5a-23fb-4e74-ac00-9ace019ca0b7",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9cd2a5fc-97e6-47d6-95d0-8a5851311c26"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "g-doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fd6898cf-1ead-4c4e-b0af-0224a1fc9417",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7c11e7b1-a8ab-4d9b-a81a-ce93b645b11a",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xls"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7dd8f34e-3cf8-4f03-8062-38b027d70b1e",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xlsx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "01a3f965-f5e6-4639-a7af-437db43b37f3",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "csv"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "122cd0f5-0ced-4f94-ac79-f99520ff25aa",
      "name": "Check File Type1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        400,
        544
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"data\": {{ JSON.stringify($json.data || $json.text || $json.content || $json.concatenated_data) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        496
      ],
      "id": "1563c342-2479-458d-ba7e-a7378f055618",
      "name": "Extract Data Result",
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        144
      ],
      "id": "4fe58bdd-317d-40f5-a3ff-d38b06e02cb4",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        656
      ],
      "id": "23af02c4-268b-424f-b62b-a8c9ebf041ef",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c90d643c-0ecb-46bf-ac8c-4534be385198",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "10e00ad4-e3b7-4d54-af15-4e91762740ac",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "3dd96aec-78b4-4447-bb96-ef3a1fa90c25",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "34a84c55-c700-48ec-9237-774aca7898c5",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        656
      ],
      "id": "99537c5d-e2ce-4782-9912-da0cb9f6a167",
      "name": "File Detail"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2576,
        1616
      ],
      "id": "6a0fdcfa-cac1-42a3-acf3-9c36e0eceb03"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "content"
            }
          ]
        },
        "options": {}
      },
      "id": "d68f1ad7-6b2d-49af-8287-9ac2e28adc70",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1936,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Master Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Config": {
      "main": [
        [
          {
            "node": "List Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Document": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From XLS": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From XLSX": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From Text": {
      "main": [
        [
          {
            "node": "Extract Data Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMG2PDF": {
      "main": [
        [
          {
            "node": "Mistral OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOC to Text": {
      "main": [
        [
          {
            "node": "Extract Data Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR": {
      "main": [
        [
          {
            "node": "Split Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Extract Data Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Extract Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Success": {
      "main": [
        [
          {
            "node": "Extract Data Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mistral OCR1": {
      "main": [
        [
          {
            "node": "Split Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Page1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Extract Data Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type1": {
      "main": [
        [
          {
            "node": "IMG2PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DOC to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DOC to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract From Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract From XLS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract From XLSX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data Result": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Mistral OCR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "File Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Detail": {
      "main": [
        [
          {
            "node": "Check File Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Extract Data Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "78555834-d809-4511-a3f9-5468a1ef0aa4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6c0e9708d6527459504dfe67ce2f0eb2d36ad3965aa79d063680543a510bdd1"
  },
  "id": "wEMEfV8kjSpdNPtL",
  "tags": []
}