USEC12-Content Search Ideas/USEC12-Content Search Ideas.json
{
  "name": "USEC12-Content Search Ideas",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        0
      ],
      "id": "348d9a68-226e-491a-a162-02e0ddb6b9fb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        240
      ],
      "id": "ac1f4176-cd15-4b5e-b62a-cad7d52f1905",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Gk896Oiqx4KohQbl",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณคือผู้เชี่ยวชาญด้านการสร้างคอนเทนต์เกี่ยวกับระบบอัตโนมัติ (AI Automation) สำหรับเจ้าของธุรกิจขนาดเล็กและผู้เชี่ยวชาญทั่วไปที่ต้องการทำงานให้เป็นระบบอัตโนมัติโดยใช้เครื่องมือที่เรียบง่าย เช่น **n8n**\n**กรุณาเสนอไอเดียระบบอัตโนมัติที่สดใหม่และนำไปใช้ได้จริงจำนวน 10 ไอเดียสำหรับวันที่วันนี้**\n\n---\n\n### 🎯 **กลุ่มเป้าหมาย (Target Audience):**\n\n* เจ้าของธุรกิจขนาดเล็ก, ฟรีแลนซ์, ผู้ประกอบการรายย่อย\n* ผู้ที่ทำงานซ้ำๆ ด้วยตนเอง เช่น กรอกข้อมูล, ตอบอีเมล, โพสต์โซเชียลมีเดีย\n* ผู้ที่เพิ่งเริ่มรู้จักระบบอัตโนมัติ และต้องการประหยัดเวลา ลดงานน่าเบื่อ\n* มองหาโซลูชันแบบ “ตั้งค่าแล้วลืม” (Set it and forget it) ที่สามารถสร้างได้จริง\n\n---\n\n### ✅ **ข้อกำหนด (Requirements):**\n\n* เน้นระบบอัตโนมัติที่ช่วยประหยัดเวลาและแรงงานได้จริง\n* ใช้ตัวอย่างการทำงานอัตโนมัติที่เข้าใจง่าย มีภาพประกอบ (ถ้ามี)\n* แสดงให้เห็นผลลัพธ์ที่ชัดเจน เช่น “เวลาที่ประหยัดได้ = เงินที่ประหยัดได้”\n* รวมไอเดียที่สามารถใช้ได้กับ n8n + แอปยอดนิยมอื่นๆ\n* หลีกเลี่ยงการตั้งค่าที่ซับซ้อนหรือเทคนิคเกินไป\n* **สำคัญมาก:** อย่าอ้างอิงจาก n8n blog เพียงแหล่งเดียว ต้องค้นหาข้อมูลจากหลายแหล่งให้หลากหลาย\n\n---\n\n### 🛠️ **เครื่องมือเสริมที่คุณมี (Search Tool):**\n\nคุณสามารถใช้เครื่องมือชื่อว่า **\"Search Tool\"** เพื่อค้นหาข้อมูลอัปเดตจากแหล่งต่างๆ ได้ตามต้องการ\nเครื่องมือนี้ช่วยให้คุณเข้าถึงบทความ เทรนด์ คลิปวิดีโอ หรือกรณีศึกษาใหม่ล่าสุด เพื่อประกอบกับการเสนอไอเดียของคุณ\n**กรุณาใช้ Search Tool ในการช่วยค้นหาไอเดียที่สดใหม่และน่าสนใจ**\n\n---\n\n### 📚 **หมวดหมู่ที่ต้องครอบคลุม (Categories to Cover):**\n\n1. **ระบบอัตโนมัติด้วย n8n แบบง่าย (Simple n8n Automation Workflows)** (4-5 ไอเดีย)\n\n   * เทมเพลตใหม่หรือกรณีการใช้งานใหม่\n   * วิธีสร้างการเชื่อมต่อระหว่างแอปยอดนิยมอย่างสร้างสรรค์\n   * เวิร์กโฟลว์ที่ช่วยประหยัดเวลาในงานธุรกิจทั่วไป เช่น:\n\n     * การอัปเดต CRM\n     * การส่งอีเมลตามลำดับขั้น\n     * การซิงก์ข้อมูล\n     * การโพสต์โซเชียลมีเดีย\n\n2. **ข่าวสารเกี่ยวกับระบบอัตโนมัติที่มี AI (AI-Powered Automation News)** (3-4 ไอเดีย)\n\n   * การเชื่อมต่อ AI ใหม่ในเครื่องมืออัตโนมัติ\n   * ฟีเจอร์ AI ที่ถูกเพิ่มเข้าไปใน n8n หรือเครื่องมืออื่นๆ\n   * วิธีที่ AI ทำให้การทำ Automation ง่ายขึ้นสำหรับมือใหม่\n   * บริการ AI ใหม่ที่ใช้ร่วมกับเครื่องมืออัตโนมัติได้ดี\n\n3. **ระบบอัตโนัติเพิ่มประสิทธิภาพที่ใครก็สร้างได้ (Productivity Automations Anyone Can Build)** (2-3 ไอเดีย)\n\n   * ไอเดียสำหรับผู้เริ่มต้น\n   * เทมเพลตเวิร์กโฟลว์ของงานธุรกิจทั่วไป\n   * วิธีทำ Automation แบบไม่ต้องเขียนโค้ด\n\n---\n\n### 📋 **รูปแบบผลลัพธ์ที่ต้องการ (Output Format):**\n\nสำหรับแต่ละไอเดีย ให้ระบุ:\n\n* **Title:** [หัวข้อที่เจาะจงและนำไปใช้ได้จริงเป็นภาษาไทย]\n* **Category:** [n8n Workflow / AI Automation News / Beginner Automation]\n* **Summary:** [2-3 ประโยค อธิบายภาพรวมว่าไอเดียนี้น่าสนใจอย่างไร และทำไมคนอ่านจึงควรสนใจ โดยเป็นภาษาไทย]\n* **Date:** [วันที่อัพเดตข่าวสาร เช่น 01-06-2025]\n* **URL:** [Link URL ของแหล่งที่มา]\n\n---\n\n### 🔎 **กลยุทธ์การค้นหา (Search Strategy – ใช้แหล่งข้อมูลหลากหลาย):**\n\nให้ค้นหาจากแหล่งข้อมูลที่หลากหลาย เช่น:\n\n* คอมมูนิตี้ Reddit เช่น r/nocode, r/entrepreneur, r/smallbusiness\n* คลิป YouTube ที่สอนหรือรีวิว Automation\n* โพสต์บน Twitter/X ที่พูดถึงระบบ Automation\n* บทความใน Medium เกี่ยวกับระบบอัตโนมัติทางธุรกิจ\n* ProductHunt ที่มีเครื่องมือใหม่ๆ ด้าน Automation\n* เรื่องราวจากชุมชน Indie Maker\n* กรณีศึกษาการใช้ Automation ในบล็อกต่างๆ\n* บทความเปรียบเทียบเครื่องมือ Automation\n* คำค้นเช่น “Automation workflow + ชื่ออุตสาหกรรม” เช่น อสังหา, E-commerce, ที่ปรึกษา\n* “Business automation ideas” + เทรนด์ล่าสุด\n* การเชื่อมต่อ API และ Webhook ใหม่ๆ จากแอปยอดนิยม\n* “AI automation tools” จากเว็บไซต์ข่าวสายเทค (ย้ำว่า **ไม่ใช่แค่ n8n blog**)\n\n---\n\n### 🚫 **สิ่งที่ควรหลีกเลี่ยง (Avoid):**\n\n* อย่าใช้ข้อมูลจาก n8n blog เป็นแหล่งเดียว\n* อย่าใช้แค่เว็บไซต์เดียวหรือประเภทเดียว\n* ผสมผสานแหล่งข้อมูลทั้งเทคนิคและไม่เทคนิค\n* ตรวจสอบให้แน่ใจว่าไอเดียที่ได้มานั้นมาจาก **อย่างน้อย 5-7 แหล่งข้อมูลที่แตกต่างกัน**",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        100,
        0
      ],
      "id": "cb099faa-57e6-42e5-a85f-8fe113c4f83e",
      "name": "Think Idea Content Agent"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {
          "topic": "general",
          "time_range": "month"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "3f47f86d-0349-498f-9a4b-5a79dc037d96",
      "name": "Search Tool",
      "credentials": {
        "tavilyApi": {
          "id": "jjlNnfw8ibMD5sYO",
          "name": "Tavily Account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \t\"title\": \"\",\n    \t\"category\": \"\",\n        \"summary\": \"\",\n        \"date\": \"\",\n        \"url\": \"\"\n  },\n  {\n    \t\"title\": \"\",\n    \t\"category\": \"\",\n        \"summary\": \"\",\n        \"date\": \"\",\n        \"url\": \"\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        240
      ],
      "id": "c009441c-d14d-4a74-a6c9-9323e5a13265",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        460,
        0
      ],
      "id": "34c71c1c-d007-4d9b-aa22-32d8384889f9",
      "name": "Split Idea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "338f33c8-2a6f-4dd0-9560-0a6399d7d4d7",
              "name": "sheet_id",
              "value": "12cknkR62OlACWeJNVFKk8QaxsAubXwgEFcF2vAHFJTU",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        0
      ],
      "id": "24e90be4-d1ee-4381-af97-65cf5c7a5671",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12cknkR62OlACWeJNVFKk8QaxsAubXwgEFcF2vAHFJTU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Category": "={{ $json.category }}",
            "Summary": "={{ $json.summary }}",
            "URL": "={{ $json.url }}",
            "Time Stamp": "={{ $now }}",
            "Ideas Date": "={{ $json.date}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ideas Date",
              "displayName": "Ideas Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time Stamp",
              "displayName": "Time Stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        680,
        0
      ],
      "id": "760c7a40-8ab0-40da-91e5-195a40ccfa35",
      "name": "Add Idea To Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V96tffmmZdVEeLnH",
          "name": "Google Sheets Account-XAlpha Training"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Think Idea Content Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Think Idea Content Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Think Idea Content Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Think Idea Content Agent": {
      "main": [
        [
          {
            "node": "Split Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Idea": {
      "main": [
        [
          {
            "node": "Add Idea To Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Think Idea Content Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5103f9a-92fc-403a-b2af-bd17ee29c6f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6c0e9708d6527459504dfe67ce2f0eb2d36ad3965aa79d063680543a510bdd1"
  },
  "id": "93jBRUOzMGu4kHig",
  "tags": []
}