BONUS-RAG/RAG BY QDRANT-Traditional.json
{
  "name": "RAG BY QDRANT-Traditional",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File Data').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "44939809-ffd9-40a0-b700-411d47c1629a",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        592
      ],
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hxmvvj3yC9KPqa5e",
          "name": "Google Drive Account-XAlpha Training"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "13b430ac-c206-422e-a19a-4b46870ec15f",
              "name": "file_owner_email",
              "value": "={{ $json.owners[0].emailAddress }}",
              "type": "string"
            },
            {
              "id": "99cc614e-35bb-42cd-a2ee-8574fa61d395",
              "name": "file_owner_display",
              "value": "={{ $json.owners[0].displayName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "980f430a-d14e-4e6b-ba10-1b273885f79d",
      "name": "Set File Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        592
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "09a3aee9-0156-4a63-8547-ecef9d515ca0",
                    "leftValue": "={{ $('Set File Data').item.json.file_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "49ef086b-5d4d-4608-81fc-7cab245cbc99",
                    "leftValue": "={{ $('Set File Data').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b3e1780f-d8bd-4793-a119-d6e6dbb4e77d",
                    "leftValue": "={{ $('Set File Data').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "eb325a5a-23fb-4e74-ac00-9ace019ca0b7",
                    "leftValue": "={{ $('Set File Data').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File Data').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9cd2a5fc-97e6-47d6-95d0-8a5851311c26"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "g-doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fd6898cf-1ead-4c4e-b0af-0224a1fc9417",
                    "leftValue": "={{ $('Set File Data').item.json.file_type }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7c11e7b1-a8ab-4d9b-a81a-ce93b645b11a",
                    "leftValue": "={{ $('Set File Data').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xls"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7dd8f34e-3cf8-4f03-8062-38b027d70b1e",
                    "leftValue": "={{ $('Set File Data').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xlsx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "01a3f965-f5e6-4639-a7af-437db43b37f3",
                    "leftValue": "={{ $('Set File Data').item.json.file_type }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "csv"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "b332b68a-93dc-4577-a2e7-64f211978dbb",
      "name": "Check File Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1184,
        480
      ]
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "id": "789ac777-dcb2-42e9-addd-ce5f98adfff0",
      "name": "Extract From XLS",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1456,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "dd51d0c7-3a69-42f5-8599-a289b32bca5f",
      "name": "Extract From XLSX",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1456,
        1328
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "92e42da5-b519-4ab4-894c-a360272f7af7",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        2976,
        832
      ],
      "credentials": {
        "openAiApi": {
          "id": "Gk896Oiqx4KohQbl",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "2f454654-d4d0-4f18-88fa-99755097f38b",
      "name": "Extract From Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1456,
        768
      ]
    },
    {
      "parameters": {
        "content": "## ลิสต์ไฟล์ทั้งหมด",
        "height": 500,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        448
      ],
      "typeVersion": 1,
      "id": "0f05bff0-e621-44ef-9599-de9f8b31069a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## เก็บข้อมูล Meta Data",
        "height": 500,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        448
      ],
      "typeVersion": 1,
      "id": "8911f06b-23b6-481c-b5f5-751ab1ad90ac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ดาวน์โหลดข้อมูล",
        "height": 500,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        448
      ],
      "typeVersion": 1,
      "id": "eaafb2f4-41b1-49f6-8d02-3a5b730bb5aa",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## อ่านข้อมูลจากไฟล์เอกสารในรูปแบบ VISION OCR MODE",
        "height": 520,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -624
      ],
      "typeVersion": 1,
      "id": "72e6affa-b54c-4cea-ad2d-ace10c6469bd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1456,
        1520
      ],
      "id": "60d037af-812a-4c9a-9cdd-b1c05d16dff0",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "content": "## เตรียมข้อมูลก่อนนำเข้า Vector Store (สำหรับข้อมูลประเภท Structure) รวมถึงบันทึกลงใน Structure Database",
        "height": 680,
        "width": 1096,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        1024
      ],
      "typeVersion": 1,
      "id": "94755801-2e19-41cc-a596-eed9f4109f83",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "🔹 1. vectors\n\n\"vectors\": {\n  \"size\": 1536,\n  \"distance\": \"Cosine\"\n}\n\nsize: 1536: กำหนดขนาดเวกเตอร์เท่ากับ 1536 มิติ ซึ่งตรงกับขนาดของ Embedding ที่ได้จากโมเดล OpenAI: text-embedding-ada-002 หรือ Google Gemini บางเวอร์ชัน\ndistance: \"Cosine\": ใช้ Cosine Similarity เป็นระยะในการค้นหาความใกล้เคียงของเวกเตอร์ ซึ่งเหมาะที่สุดสำหรับงาน Semantic Search หรือ RAG (Retrieval-Augmented Generation)\n\n🔹 2. optimizers_config\n\n\"optimizers_config\": {\n  \"default_segment_number\": 4\n}\nกำหนดให้ Qdrant แบ่งข้อมูลออกเป็น 4 segment\nการแบ่ง segment ทำให้ Qdrant สามารถประมวลผลแบบขนาน (parallel) ได้ดีขึ้น โดยเฉพาะตอน insert และ search\nเหมาะกับกรณีที่มีจำนวนข้อมูลระดับหลายพันถึงหลักหมื่นเวกเตอร์\n\n🔹 3. quantization_config\n\n\"quantization_config\": {\n  \"scalar\": {\n    \"type\": \"int8\",\n    \"always_ram\": true\n  }\n}\nเปิดใช้งาน Scalar Quantization โดยแปลงเวกเตอร์ให้เป็น int8 (จาก float)\nช่วยลดขนาดของเวกเตอร์ลงมาก โดยยังคงความแม่นยำได้ดี\nalways_ram: true: บังคับให้ Qdrant โหลดข้อมูลเวกเตอร์ขึ้นไว้ใน RAM เสมอ\nส่งผลให้ค้นหาได้เร็วมาก (เหมาะกับระบบตอบสนองเรียลไทม์ เช่น Chatbot หรือ Search API)\n\n🔹 4. on_disk_payload\n\n\"on_disk_payload\": false\nกำหนดให้ Qdrant โหลดข้อมูล payload (metadata) ทั้งหมดไว้ใน RAM\nเหมาะกับ payload ขนาดเล็ก เช่น title, URL, ชื่อเอกสาร ฯลฯ\nช่วยให้ระบบสามารถค้นหาและเข้าถึง metadata ได้เร็วขึ้นมาก\n\n🔹 5. shard_number\n\n\"shard_number\": 1\nใช้ 1 shard สำหรับ Collection นี้ (เหมาะกับระบบ Qdrant แบบ single-node หรือขนาดเล็ก)\nหากต้องการขยายระบบในอนาคต สามารถเพิ่ม shard ได้ในระดับ cluster",
        "height": 900,
        "width": 604,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        976
      ],
      "typeVersion": 1,
      "id": "0678f2ea-2eb2-4618-b615-2e795e939309",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0
        }
      },
      "id": "72a56082-6d9f-46a9-9c54-825de125e57c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -528,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "Gk896Oiqx4KohQbl",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "3361b917-aea9-444d-a38a-ea14a74592d7",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        -32
      ],
      "webhookId": "152930ce-9ca6-43cb-9bf1-d5c155ca8559"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=คุณคือผู้ให้บริการสืบค้นข้อมูลที่ให้ข้อมูลและรายละเอียดได้อย่างแม่นยำ โดยต้องค้นหาข้อมูลจากเครื่องมือ \"KM Search\" เท่านั้น ห้ามคาดเดา หรือแต่งเติมข้อมูลจนความหมายเปลี่ยนไป หากไม่พบข้อมูล ให้แจ้งผู้ใช้ว่าไม่พบข้อมูล\n\nทุกครั้งที่มีการค้นข้อมูลออกมาแสดง ต้องแสดงแหล่งอ้างอิงเสมอ ได้แก่ ชื่อไฟล์และลิ้งค์ของไฟล์ เป็นต้น รวมถึงหากมีรูปประกอบก็ต้องแสดงรูปออกมาด้วยเช่นกัน"
        }
      },
      "id": "1b41941c-8709-4056-b000-3b88eb5a1c56",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -448,
        -32
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        176
      ],
      "id": "30c0e819-1ace-463d-9774-1a4c06e739e7",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "Gk896Oiqx4KohQbl",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 569,
        "width": 699,
        "color": 6
      },
      "id": "cd9ff817-4b27-44b4-96d0-7ddd8baa60ca",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -176
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 565,
        "width": 876,
        "color": 7
      },
      "id": "a6c14052-5dea-4900-8027-8e9287641781",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -176
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -352,
        192
      ],
      "id": "00177570-e8fd-4811-a258-d88fe2523b6d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $('Set Config Data').item.json.folder_doc_id }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        592
      ],
      "id": "d85e9999-db18-4e5f-abee-3a50bdaa17b8",
      "name": "List All File",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hxmvvj3yC9KPqa5e",
          "name": "Google Drive Account-XAlpha Training"
        }
      }
    },
    {
      "parameters": {
        "pdfName": "data"
      },
      "type": "@cntrlx/n8n-nodes-pdfgenie-pro.pdfkit",
      "typeVersion": 1,
      "position": [
        1456,
        -496
      ],
      "id": "80e31b29-9731-4ec0-b564-7973720a7b4c",
      "name": "IMG2PDF"
    },
    {
      "parameters": {
        "binaryFieldName": "data"
      },
      "type": "n8n-nodes-doc-to-text.docToText",
      "typeVersion": 1,
      "position": [
        1456,
        432
      ],
      "id": "6e3b7211-0927-428c-aae0-586568a04da6",
      "name": "DOC to Text"
    },
    {
      "parameters": {
        "options": {
          "includeImageBase64": true
        }
      },
      "type": "n8n-nodes-mistral-ocr.mistralOcr",
      "typeVersion": 1,
      "position": [
        1456,
        -288
      ],
      "id": "5f4d99a8-1534-41d5-a72f-05a11dcbbeb1",
      "name": "Mistral OCR",
      "credentials": {
        "mistralApi": {
          "id": "aSKI8hLwnrJyOQ6s",
          "name": "Mistral Account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1792,
        -496
      ],
      "id": "2448a202-011d-4023-8d4f-fa15251b1b91",
      "name": "Split Page"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "include": "selectedOtherFields",
        "fieldsToInclude": "index",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2080,
        -496
      ],
      "id": "7affb441-202d-4853-b72f-58c08441675d",
      "name": "Split Image"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const base64Data = $json.images.image_base64.replace(/^data:image\\/\\w+;base64,/, '');\n\nreturn {\n  binary: {\n    data: {\n      data: base64Data,\n      mimeType: 'image/jpeg',\n      fileName: $json.images.id || 'image.jpg',\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -496
      ],
      "id": "8aea624e-855b-481b-8f5b-c218ba388407",
      "name": "Convert To Binary File"
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Set Config Data').item.json.rag_image_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2432,
        -496
      ],
      "id": "45892bf4-c823-4783-a713-0ba5700a9655",
      "name": "Upload Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hxmvvj3yC9KPqa5e",
          "name": "Google Drive Account-XAlpha Training"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "images.id",
              "field2": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2848,
        -496
      ],
      "id": "ef03abd4-d053-4d3d-a669-c91fad57a6f0",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "index",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2848,
        -288
      ],
      "id": "b31bfdd9-021b-4a8b-8303-25c83aab759f",
      "name": "Merge4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "240634bc-0359-4877-b096-5bb56ea68f78",
              "name": "page_id",
              "value": "={{ $json.index }}",
              "type": "string"
            },
            {
              "id": "e41fdf78-4b20-4258-b127-dbea27b71f88",
              "name": "content",
              "value": "={{ $json.markdown }}",
              "type": "string"
            },
            {
              "id": "7dd4ed9e-7262-4b46-a3a3-a03ac88388b7",
              "name": "image_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "29d612a5-87a9-4a98-92bb-953922260ad2",
              "name": "image_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "e8a16476-c434-4221-817b-99c786900651",
              "name": "image_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3040,
        -288
      ],
      "id": "c02c6350-9163-4d56-949a-9bb42d03ea3b",
      "name": "Set Item"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "586fe237-02de-48ba-b9f2-fc49cdeb2c88",
              "name": "index",
              "value": "={{ $json.index }}",
              "type": "number"
            },
            {
              "id": "5a35cb8c-9faa-4b7d-bfdf-59a16772f98d",
              "name": "markdown",
              "value": "={{ $json.markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        -288
      ],
      "id": "a613aff7-d2d6-4a39-bfcf-6396f6373b2e",
      "name": "Set Page"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa010f5d-225d-4f30-b60d-7cdb0b6fa452",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "7e86057d-b6b5-4c47-bb21-31a626a3b5fe",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "68198d7d-3f51-479e-89ff-24326d26772d",
              "name": "webViewLink",
              "value": "=https://lh3.googleusercontent.com/d/{{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        -496
      ],
      "id": "1f22bf54-bb5a-48e1-9698-ca747840b6d5",
      "name": "Set Image"
    },
    {
      "parameters": {
        "content": "## รวมข้อมูล(Merge)",
        "height": 520,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        -624
      ],
      "typeVersion": 1,
      "id": "d402ea5a-6150-48f0-b954-dbd5a3902cac",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## แยกข้อมูลรูปประกอบ",
        "height": 520,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        -624
      ],
      "typeVersion": 1,
      "id": "6b9e606c-16f3-410f-bab2-5ffe8f8cc49d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## แยกข้อมูลหน้า",
        "height": 520,
        "width": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        -624
      ],
      "typeVersion": 1,
      "id": "b7348602-caf2-41aa-80bc-3728208d5331",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "jsCode": "// Group ข้อมูลทั้งหมดตาม page_id\nconst grouped = {};\n\n// วนทุก item แล้วจัดกลุ่ม\nfor (const item of items) {\n  const { page_id, content, image_name, image_url } = item.json;\n\n  if (!grouped[page_id]) {\n    // เริ่มกลุ่มใหม่\n    grouped[page_id] = {\n      page_id,\n      content,\n      image_map: {}\n    };\n  }\n\n  // เพิ่ม image_name → image_url เข้า map สำหรับหน้านั้น\n  grouped[page_id].image_map[image_name] = image_url;\n}\n\n// สร้างผลลัพธ์\nconst result = [];\n\nfor (const page of Object.values(grouped)) {\n  let content = page.content;\n\n  // สร้าง RegEx เพื่อหา ![xxx](img-xx.jpeg)\n  const regex = /!\\[([^\\]]*?)\\]\\((img-\\d+\\.jpeg)\\)/g;\n\n  // แทนที่ทุกภาพใน content ถ้าเจอ link ที่ตรงใน image_map\n  content = content.replace(regex, (match, altText, fileName) => {\n    const url = page.image_map[fileName];\n    if (url) {\n      return `![${altText}](${url})`;\n    }\n    return match; // ถ้าไม่มี URL ให้คงไว้\n  });\n\n  result.push({\n    json: {\n      page_id: page.page_id,\n      content\n    }\n  });\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        -496
      ],
      "id": "6973fb98-5f1a-4fd2-bf0e-c315c244c2c8",
      "name": "Update Link To Content",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## เคลียร์รูปภาพที่ได้จาก OCR ทั้งหมด",
        "height": 500,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        448
      ],
      "typeVersion": 1,
      "id": "6715aea9-ab88-4677-a89c-8dc5132e5357",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "content",
        "include": "specifiedFields",
        "fieldsToInclude": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3488,
        -496
      ],
      "id": "f27e04b0-fadf-477b-a6d3-b47adbb63e44",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1456,
        592
      ],
      "id": "e838f3a5-a942-45b4-a98c-a637daeab4be",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "kORHFqwX0Nw8xnOa",
          "name": "Google Docs Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"data\": {{ JSON.stringify($json.data || $json.text || $json.content || $json.concatenated_data) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        592
      ],
      "id": "dd9d8c89-083d-4929-ad32-405aaebf6d79",
      "name": "Unstructured Data",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## เตรียมข้อมูลก่อนนำเข้า Vector Store (สำหรับข้อมูลประเภท Unstructured)",
        "height": 680,
        "width": 1096,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        304
      ],
      "typeVersion": 1,
      "id": "08defaa6-b7a7-421c-be9f-ea07d096d889",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "jsCode": "let combinedText = '';\n\nfor (const item of items) {\n  const contents = item.json.content || [];\n\n  for (const entry of contents) {\n    if (typeof entry.content === 'string') {\n      combinedText += entry.content.trim() + '\\n\\n---\\n\\n'; // คั่นแต่ละชิ้นด้วยเส้น\n    }\n  }\n}\n\nreturn [\n  {\n    json: {\n      text: combinedText.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        -288
      ],
      "id": "6a10e1b7-7324-4c06-bd62-97e5a414fffb",
      "name": "Convert2Text"
    },
    {
      "parameters": {
        "content": "## อ่านข้อมูลจากไฟล์เอกสารในกลุ่มประเภท Text",
        "height": 680,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        304
      ],
      "typeVersion": 1,
      "id": "dc5a2726-cd3e-4e29-8536-564d53068463",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## อ่านข้อมูลจากไฟล์เอกสารในกลุ่มประเภท Sheet",
        "height": 680,
        "width": 320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        1024
      ],
      "typeVersion": 1,
      "id": "96373c93-220a-4f4c-98bf-47e60cdd59c3",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## อัพเดตข้อมูล",
        "height": 520,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3232,
        -624
      ],
      "typeVersion": 1,
      "id": "ddafb4a3-030f-4eab-b103-f7e462070c98",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        592
      ],
      "id": "327dee01-aefd-44d8-ae52-c630cd200211",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        3712,
        1536
      ],
      "id": "d3a75cec-3a6c-4cd9-aef8-437358d077c5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        592
      ],
      "id": "35d11fe9-7aae-44ce-9678-bf1071453de3",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "deleteCollection",
        "collectionName": {
          "__rl": true,
          "value": "={{ $('Set Config Data').item.json.rag_collection_name }}",
          "mode": "name"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -560,
        592
      ],
      "id": "c55d493c-2751-48ec-a38c-6be153ce481c",
      "name": "Delete Collection",
      "credentials": {
        "qdrantRestApi": {
          "id": "D6fkhZm6D23sTTPH",
          "name": "Qdrant Account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -560,
        784
      ],
      "id": "069764c3-e3be-4b86-9551-9ad19b46538e",
      "name": "Wait",
      "webhookId": "9fa3f2cc-83a6-4a77-8019-9222f16a47e6"
    },
    {
      "parameters": {
        "operation": "getCollection",
        "collectionName": {
          "__rl": true,
          "value": "={{ $json.rag_collection_name }}",
          "mode": "name"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -768,
        592
      ],
      "id": "2822cc9b-3d95-4cf0-a0b5-10b36f7e28a1",
      "name": "Get Collection",
      "credentials": {
        "qdrantRestApi": {
          "id": "D6fkhZm6D23sTTPH",
          "name": "Qdrant Account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b71e8bf-1bb9-4215-81ab-2745851c808d",
              "name": "folder_doc_id",
              "value": "1uz7DL1lBgPS8MKvrBuODOAaEKqeRDFLR",
              "type": "string"
            },
            {
              "id": "7c297cbc-b47e-4727-ba54-f5f67daffa3a",
              "name": "rag_collection_name",
              "value": "N8N_TRAINING",
              "type": "string"
            },
            {
              "id": "34182e19-a399-4d80-b955-a2377d04c099",
              "name": "is_enable_vision_rag",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "c12f4050-49dc-481d-9925-eb610064d067",
              "name": "rag_image_folder_id",
              "value": "10cVn_HQhR2VT82r4t2MWhWh7jgUfEyIb",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "97bbbd08-4ff6-450e-aaa4-4625f4a9b009",
      "name": "Set Config Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        592
      ]
    },
    {
      "parameters": {
        "content": "## อัพเดตข้อมูล Collections ให้มีความทันสมัยเสมอ",
        "height": 500,
        "width": 604,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        448
      ],
      "typeVersion": 1,
      "id": "e1ad3781-5e18-4f05-abd4-ac06d1e6ec0c",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3852b265-8c90-468e-92ce-d087805e28ff",
              "leftValue": "={{ $('Set Config Data').item.json.is_enable_vision_rag }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        80
      ],
      "id": "f9763989-52e5-46ba-a80c-7abb365d5fe5",
      "name": "Is Enable Vision RAG"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1792,
        80
      ],
      "id": "796b776e-190d-4f2f-bf0b-a46df00f371b",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf04e95d-fc84-48f9-a98e-3400c9209e6c",
              "leftValue": "={{ $json.text.trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2064,
        80
      ],
      "id": "4db44704-b532-4153-8f9b-4bf37a154c56",
      "name": "Extract Success"
    },
    {
      "parameters": {
        "options": {
          "includeImageBase64": true
        }
      },
      "type": "n8n-nodes-mistral-ocr.mistralOcr",
      "typeVersion": 1,
      "position": [
        2656,
        80
      ],
      "id": "c1362e49-b4a5-4995-9234-440591f7586b",
      "name": "Mistral OCR1",
      "credentials": {
        "mistralApi": {
          "id": "aSKI8hLwnrJyOQ6s",
          "name": "Mistral Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2384,
        80
      ],
      "id": "d150333d-fe82-4cf1-9cdb-40196aae350e",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://qdrant-iamai-lead.up.railway.app/collections/{{ $('Set Config Data').item.json.rag_collection_name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantRestApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"vectors\": {\n      \"size\": 1536,\n      \"distance\": \"Cosine\"\n    },\n    \"optimizers_config\": {\n      \"default_segment_number\": 4\n    },\n    \"quantization_config\": {\n      \"scalar\": {\n        \"type\": \"int8\",\n        \"always_ram\": true\n      }\n    },\n    \"on_disk_payload\": false,\n    \"shard_number\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        784
      ],
      "id": "124a396c-8388-42bc-9204-5a8b70a54f8f",
      "name": "Create Collection",
      "alwaysOutputData": false,
      "credentials": {
        "qdrantRestApi": {
          "id": "D6fkhZm6D23sTTPH",
          "name": "Qdrant Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2912,
        80
      ],
      "id": "a3d383b5-3a52-4cae-a14b-7fe98cef8d59",
      "name": "Split Page1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "markdown",
              "renameField": true,
              "outputFieldName": "data"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3184,
        80
      ],
      "id": "03040d03-eeac-4942-a264-3dc655604e04",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "content": "## กรณีไฟล์ PDF เช็คก่อนว่าเปิด OCR VISION MODE ไว้ไหม ?",
        "height": 328,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -64
      ],
      "typeVersion": 1,
      "id": "246fc721-88b8-4231-ad33-8619b7735613",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## (1) OCR โดยใช้วิธีปกติ(ไม่มีค่าใช้จ่าย)",
        "height": 328,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        -64
      ],
      "typeVersion": 1,
      "id": "a1c1e82d-ebb5-4e81-82fc-5aefb8786976",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## (2) OCR โดยใช้ Mistral กรณีที่เป็นไฟล์สแกนหรือเป็นไฟล์ที่ถอดอักษรปกติไม่ได้",
        "height": 328,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2272,
        -64
      ],
      "typeVersion": 1,
      "id": "86c32dad-995e-4f22-84cd-e31fa0a3a015",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $('Set Config Data').item.json.rag_image_folder_id }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        592
      ],
      "id": "bcc82230-30eb-4d11-b197-2f2b4825875b",
      "name": "List All Image",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hxmvvj3yC9KPqa5e",
          "name": "Google Drive Account-XAlpha Training"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        784
      ],
      "id": "0a0f7f1b-4740-4a8c-9b20-3f9477b031e3",
      "name": "Delete a file",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hxmvvj3yC9KPqa5e",
          "name": "Google Drive Account-XAlpha Training"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b750a785-b9e8-412b-8e9c-d7138baed82a",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1824,
        1152
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "84755215-f509-4055-8c88-5c6f2265d234",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2048,
        1152
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3152,
        1056
      ],
      "id": "b6fcd89d-d93a-4536-801b-1a994fe644de",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c90d643c-0ecb-46bf-ac8c-4534be385198",
              "name": "file_id",
              "value": "={{ $json.file_id }}",
              "type": "string"
            },
            {
              "id": "10e00ad4-e3b7-4d54-af15-4e91762740ac",
              "name": "file_type",
              "value": "={{ $json.file_type }}",
              "type": "string"
            },
            {
              "id": "3dd96aec-78b4-4447-bb96-ef3a1fa90c25",
              "name": "file_title",
              "value": "={{ $json.file_title }}",
              "type": "string"
            },
            {
              "id": "34a84c55-c700-48ec-9237-774aca7898c5",
              "name": "file_url",
              "value": "={{ $json.file_url }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        592
      ],
      "id": "f3647054-d252-4d9c-a94d-c85aacee8aff",
      "name": "File Detail"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('Set Config Data').first().json.rag_collection_name }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        3104,
        592
      ],
      "id": "fb550670-a7c8-45fd-b38e-ca90d193a39e",
      "name": "Insert Document to Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "76TDry322YaeSSvo",
          "name": "QdrantAPI Account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_timestamp",
                "value": "={{ $now.format('yyyy-MM-dd') }}"
              },
              {
                "name": "file_id",
                "value": "={{ $('File Detail').all()[$itemIndex].json.file_id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('File Detail').all()[$itemIndex].json.file_title }}"
              },
              {
                "name": "=file_url",
                "value": "={{ $('File Detail').all()[$itemIndex].json.file_url }}"
              }
            ]
          }
        }
      },
      "id": "ee43f4d7-f804-4332-8524-585194522ed1",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3264,
        832
      ]
    },
    {
      "parameters": {
        "content": "## บันทึกเข้า Vector Store (สำหรับข้อมูลประเภท Unstructured)",
        "height": 1400,
        "width": 808,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        304
      ],
      "typeVersion": 1,
      "id": "b3439c71-15de-4a0e-91c8-29b388491fcf",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "qdrantCollection": {
          "__rl": true,
          "value": "N8N_TRAINING",
          "mode": "list",
          "cachedResultName": "N8N_TRAINING"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        288,
        0
      ],
      "id": "b2b4f937-ef88-4f66-ae50-610623d80cd5",
      "name": "KM Search",
      "credentials": {
        "qdrantApi": {
          "id": "76TDry322YaeSSvo",
          "name": "QdrantAPI Account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "c129d406-5a5e-476e-a679-a13533696986",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        3408,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Download File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Data": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "IMG2PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Enable Vision RAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DOC to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DOC to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract From Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract From XLS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract From XLSX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From XLS": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From XLSX": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Document to Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract From Text": {
      "main": [
        [
          {
            "node": "Unstructured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "KM Search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List All File": {
      "main": [
        [
          {
            "node": "Set File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR": {
      "main": [
        [
          {
            "node": "Split Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMG2PDF": {
      "main": [
        [
          {
            "node": "Mistral OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Page": {
      "main": [
        [
          {
            "node": "Split Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Image": {
      "main": [
        [
          {
            "node": "Convert To Binary File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Binary File": {
      "main": [
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Set Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Set Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Page": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Item": {
      "main": [
        [
          {
            "node": "Update Link To Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Link To Content": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOC to Text": {
      "main": [
        [
          {
            "node": "Unstructured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Unstructured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Convert2Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unstructured Data": {
      "main": [
        [
          {
            "node": "Insert Document to Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert2Text": {
      "main": [
        [
          {
            "node": "Unstructured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "File Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Config Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Collection": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Create Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Collection": {
      "main": [
        [
          {
            "node": "Delete Collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config Data": {
      "main": [
        [
          {
            "node": "Get Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Extract Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Success": {
      "main": [
        [
          {
            "node": "Unstructured Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Is Enable Vision RAG": {
      "main": [
        [
          {
            "node": "Mistral OCR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Mistral OCR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Collection": {
      "main": [
        [
          {
            "node": "List All Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR1": {
      "main": [
        [
          {
            "node": "Split Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Page1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Image": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "List All File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Unstructured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "File Detail": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document to Vector Store": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Document to Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "KM Search": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Unstructured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "61f9cbbb-d64b-4395-8683-a238cda66cf2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6c0e9708d6527459504dfe67ce2f0eb2d36ad3965aa79d063680543a510bdd1"
  },
  "id": "oeiIO73J16LZvEvr",
  "tags": []
}